body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;

}

.introduce-area {
    background-image: url(images/start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 747px;
}

.introduce-texts {
    text-align: center;
    color: white;
    padding-top: 160px;
}

.introduce-texts h1 {
    font-size: 60px;
    margin-top: -7px;
}

.introduce-texts p {
    margin-top: 43px;
    color: aqua;
}

.donate-button {
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid white;
    padding: 17px 31px;
    border-radius: 35px;
    margin-top: 24px;
}

.taka {
    display: flex;
    text-align: center;
    margin-left: 393px;
}

.one-hund {
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgray;
    padding: 32px 10px;
    margin-right: 9px;
}

.two-hund {
    border: 1px solid;
    border-radius: 5px;
    background-color: red;
    padding: 32px 10px;
    margin-right: 9px;
}

.five-hund {
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgray;
    padding: 32px 10px;
    margin-right: 9px;
}

.one-thou {
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgray;
    padding: 32px 10px;
    margin-right: 9px;
}

.five-thou {
    border: 1px solid;
    border-radius: 5px;
    background-color: lightgray;
    padding: 32px 10px;
    margin-right: 9px;
}

.about-donation {
    text-align: center;
    margin-top: 136px;
    margin-bottom: 37px;
}

.about-donation h1 {
    font-size: 40px;
}

.else-ammount {
    text-align: center;
    color: darkgray;

    margin-top: 35px;
}

hr {
    width: 500px;
    margin-bottom: 30px;
}

.button-item {
    border: 1px solid tomato;
    background-color: tomato;
    padding: 17px 14px;
    border-radius: 30px;
    font-size: 23px;
    margin-left: 44%;
    margin-top: 15px;
}

.planing {
    display: flex;
    margin-top: 58px;
}

.donate-paln {
    text-align: center;
    margin-top: 144px;
}

.donate-paln h1 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.food-item {
    border: 1px solid lavender;
    border-radius: 10px;
    background-color: lavender;
    width: 25%;
    margin-right: 35px;
    margin-left: 27px;
    padding: 50px 23px 50px 23px;
}


.shelter-item {
    border: 1px solid lavender;
    border-radius: 10px;
    background-color: darkgray;
    width: 25%;
    margin-right: 35px;
    margin-left: 27px;
    padding: 50px 23px 50px 23px;
}

.education-item {
    border: 1px solid lavender;
    border-radius: 10px;
    background-color: blanchedalmond;
    width: 25%;
    margin-right: 35px;
    margin-left: 27px;
    padding: 50px 23px 50px 23px;
}

.Our-works {
    text-align: center;
    margin-top: 141px;
}

.Our-works h1 {
    font-size: 45px;
}

.working-style {
    background-color: beige;
    margin-right: 111px;
    margin-left: 111px;
    padding-bottom: 55px;
    padding-right: 83px;
    border-radius: 5px;
}

.working-style h1 {
    font-size: 45px;
    padding-top: 38px;
    padding-left: 55px;
}

.about-community {
    font-size: 20px;
    text-align: initial;
    margin-left: 135px;
}

.provide-item {
    display: flex;
    margin-top: 119px;
}

.foods-works {
    width: 50%;
}

.foods-works h2 {
    font-size: 35px;
}

.foods-works p {
    margin-right: 32px;
    font-size: 23px;
}

.food-image {
    width: 50%;
}

.food-image img {
    width: 100%;
}

.shelter-planing {
    display: flex;
    margin-top: 84px;
}

.shelter-image {
    width: 50%;
}

.shelter-image img {
    width: 100%;
}

.shelter-works {
    width: 50%;
    padding-left: 55px;
    text-align: center;
}

.shelter-works h2 {
    font-size: 35px;
}

.shelter-works p {
    font-size: 23px;
}

.education-area {
    display: flex;
    margin-top: 84px;
}

.education-works {
    width: 50%;
    padding-right: 55px;
    text-align: center;
}

.education-image {
    width: 50%;
}

.education-image img {
    width: 100%;
}

.education-works h2 {
    font-size: 35px;
}

.education-works p {
    font-size: 23px;
}

.Our-goal {
    border: 1px solid beige;
    background-color: beige;
    margin-top: 110px;
    margin-left: 18%;
    width: 50%;
    padding: 39px 100px 100px 100px;
    border-radius: 5px;
}

.Our-goal p {
    text-align: center;
    font-size: 21px;
}

.Our-goal h1 {
    text-align: center;
    font-size: 35px;
}

.Our-goal img {
    width: 100%;
    border-radius: 10px;
}

.update-item {
    margin-top: 153px;
}

.update-item h1 {
    font-size: 45px;
    text-align: center;
}

.update-item p {
    font-size: 20px;
    text-align: center;
}

.email-item {
    display: flex;
    background-color: blanchedalmond;
    padding: 72px;
    margin-right: 272px;
    margin-left: 272px;
    margin-top: 57px;
}

input[type="text"] {
    width: 36%;
    padding: 10px;
    margin-left: 129px;
    border: 1px;
    border-radius: 3px;
    background-color: lightgrey;
}

button.subscribe-button {
    width: 20%;
    background-color: tomato;
    color: white;
    font-size: 16px;
    padding: 13px;
    border: 1px;
    border-radius: 3px;
}

.end-item {
    background-color: darkslategray;
    text-align: center;
    margin-top: 154px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: 700;
}

.end-item h1 {
    color: cadetblue;
}